@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');

*{
    font-family: 'Cormorant Garamond', serif;
}


.altura {
    height: 40rem;
}

h1 {
    font-size: 40px;
}

.container-fluid {
    text-transform:uppercase;
}
